# Data Types and Structures Questions

1. What are data structures, and why are
   they important?
  - A data structure is a way to organise and storing data properly so that it can be quickly access and manipulate.
   its is important because of efficieny, scalability and memory management.

2. Explain the difference between mutable and immutable data types with examples.
  - Mutable data structure can be changed after creation and also support in-place modification example: list , dict , set.
  -Immutable data structure cannot be changed after creation and creates a new object when modified example:
  int , tuple , str.

3. What are the main differences between lists and tuples in Python?
  - lists are mutable and supports append,remove,sort etc
  while tuples are immutable in nature and doesnt support any modification methods.

4.  Describe how dictionaries store data?
  - Dict store data as key-value pairs.
  in dict the key must be unique and immutable , value can be of any data type.

5.  Why might you use a set instead of a list in Python?
  - In set data store with unique value which doesnt allowed duplicate values
  and also the fast membership testing
  also remove duplicates from a list.

6.  What is a string in Python, and how is it different from a list?

  - string is sequence of char in between quotes . it is immutable .
   where in list you can store any data types and can be modified after creation which makes it mutable

7. How do tuples ensure data integrity in Python?
  - tuple is an immutable means that the elements cannot be changed by any chances which ensure the data integrity.

8. What is a hash table, and how does it relate to dictionaries in Python
  - hash table is a data structure that store key-value pairs using a hash function to map keys to indices in an array.
  dict is implemented using hash table

9. Can lists contain different data types in Python
  - list can contain different types of data types .

10. Explain why strings are immutable in Python
  - it affect memory optimization
   and strings are also used in dict.

11. What advantages do dictionaries offer over lists for certain tasks?
  - dict are faster when it comes to lookup speed
  - doesnt store duplicate keys
  - more effcient for large datasets when searching by keys

12. Describe a scenario where using a tuple would be preferable over a list
  - we can use tuple for storing data which doesnt need to modified or change for example aadhar card number or employment id which are unique and we dont wanted to change its value.
  which makes the security good for database.

13. How do sets handle duplicate values in Python
  - set automatically remove duplicates values in python. when you add duplicate element to a set , python stores only unique values and ignores duplicates.

14. How does the “in” keyword work differently for lists and dictionaries
  - the in keyword is used to check for membership in both lists and dictionaries, but it behaves differently in each case
  .In a list, in checks whether a specific value exists.
  In a dictionary, in checks if a key exists (not the value).

15. Can you modify the elements of a tuple? Explain why or why not.
  - No, you cannot modify the elements of a tuple in Python.
  tuples are immutable , memory & performance benefits

16.  What is a nested dictionary, and give an example of its use case?
  - A nested dictionary is a dictionary inside another dictionary. It allows storing hierarchical or structured data, making it useful for representing complex relationships.
  - Imagine you need to store information about multiple students, including their name, age, and subjects with marks.

17. Describe the time complexity of accessing elements in a dictionary
  -

18. In what situations are lists preferred over dictionaries?
  - While dictionaries (dict) offer fast lookups with key-value pairs, lists (list) are better suited for certain tasks. Below are cases where lists are preferred over dictionaries.Lists maintain the order of elements, whereas dictionaries did not.
  Lists allow index-based access (O(1) for direct indexing)

19. Why are dictionaries considered unordered, and how does that affect data retrieval
  - Dictionaries in Python were considered unordered in the past because they used hash tables to store key-value pairs. This meant that the order of elements was not fixed or guaranteed before Python 3.7. The elements could appear in any order when retrieved, making it unpredictable.  

20. Explain the difference between a list and a dictionary in terms of data retrieval.
  - list: uses indexing , searches sequentially if the index is unknown
  it is ordered, stores elements in a sequential manner.
  - dict: uses key-based lookup
  uses a hash table for fast lookups
  ordered , but internally stored using hashing
  stores key-values pairs for faster retrieval

#Practical Questions

In [1]:
#Write a code to create a string with your name and print it
name="anubhav"
print(name)

anubhav

In [2]:
# Write a code to find the length of the string "Hello World"
a="hello word"
print(len(a))

10

In [3]:
#  Write a code to slice the first 3 characters from the string "Python Programming"
a="python programming"
print(a[:3])

pyt

In [4]:
# Write a code to convert the string "hello" to uppercase
a="hello"
print(a.upper())

HELLO

In [5]:
# Write a code to replace the word "apple" with "orange" in the string "I like apple"
a="i like apple"
print(a.replace("apple","orange"))

i like orange

In [8]:
# Write a code to create a list with numbers 1 to 5 and print it
for i in range(6):
  print([i])

[0]
[1]
[2]
[3]
[4]
[5]

In [9]:
#  Write a code to append the number 10 to the list [1, 2, 3, 4]
a=[1,2,3,4]
a.append(10)
print(a)

[1, 2, 3, 4, 10]

In [10]:
#  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
a=[1,2,3,4,5]
a.remove(3)
a

[1, 2, 4, 5]

In [11]:
# Write a code to access the second element in the list ['a', 'b', 'c', 'd']
a=['a', 'b', 'c', 'd']
print(a[1])

b

In [16]:
# Write a code to reverse the list [10, 20, 30, 40, 50]
list= [10, 20, 30, 40, 50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

In [18]:
# Write a code to create a tuple with the elements 100, 200, 300 and print it
elements= (100, 200, 300)
type(elements)

tuple

In [19]:
#  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple= ('red', 'green', 'blue', 'yellow')
print(tuple[2:])

('blue', 'yellow')

In [20]:
# Write a code to find the minimum number in the tuple (10, 20, 5, 15)
tuple =(10, 20, 5, 15)
print(min(tuple))

5

In [24]:
# Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
tuple =('dog', 'cat', 'rabbit')
print(tuple.index("cat"))

1

In [26]:
#  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ('apple', 'banana', 'kiwi')
print("kiwi" in fruits)

True

In [27]:
# Write a code to create a set with the elements 'a', 'b', 'c' and print it.
element = {'a', 'b', 'c'}
print(element)

{'c', 'a', 'b'}

In [28]:
# Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
element = {1, 2, 3, 4, 5}
element.clear()
print(element)

set()

In [29]:
# Write a code to remove the element 4 from the set {1, 2, 3, 4}.
element = {1, 2, 3, 4}
element.remove(4)
print(element)

{1, 2, 3}

In [31]:
#  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1 | set2
print(union_set)

{1, 2, 3, 4, 5}

In [32]:
# Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1 & set2
print(intersection_set)

{2, 3}

In [1]:
#  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict={
    "name":"anubhav",
    "age":22,
    "city":"lucknow"
}
print(dict)

{'name': 'anubhav', 'age': 22, 'city': 'lucknow'}

In [2]:
# Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
dict={
    "name":"John",
    "age":25
}
dict["country"]="USA"
print(dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [3]:
# Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dict={
    "name":"Alice",
    "age":30
}
print(dict["name"])

Alice

In [4]:
# Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dict={
    "name":"Bob",
    "age":22,
    "city":"New York"
}
del dict["age"]
print(dict)

{'name': 'Bob', 'city': 'New York'}

In [8]:
# Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
a={
    "name":"alice",
    "city":"paris"
}
print("city" in a)

True

In [9]:
# Write a code to create a list, a tuple, and a dictionary, and print them all.
list=[1,2,3,4]
tuple=(1,2,3,4)
dict={
    "name":"anubhav",
    "age":22,
    "city":"lucknow"
}
print(list,tuple,dict)

[1, 2, 3, 4] (1, 2, 3, 4) {'name': 'anubhav', 'age': 22, 'city': 'lucknow'}

In [12]:
"""Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)"""
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print("Sorted Random Numbers:", random_numbers)

Sorted Random Numbers: [10, 12, 39, 79, 90]

In [13]:
# Write a code to create a list with strings and print the element at the third index
list=["apple","banana","orange","kiwi","mango"]
print(list[3])

kiwi

In [14]:
#  Write a code to combine two dictionaries into one and print the result.
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [15]:
# Write a code to convert a list of strings into a set.
list = ["apple", "banana", "orange", "apple", "kiwi"]
set_from_list = set(list)
print(set_from_list)

{'banana', 'kiwi', 'apple', 'orange'}